---
layout: layouts/base.njk
title: About
permalink: /about/
---
<section class="panel">
  <h1 class="panel__title">About</h1>
  {% set hcardVariant = "full" %}
  {% include "partials/h-card.njk" %}
</section>
